{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent()}} {% endblock %}

{% block body %}
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h3 class="lead"> Action de Solidarité pour les pauvres / Les ANAWIN ! </h3>
				</br>
				<p> Une Solidarité pour les pauvres du MBOMOU ! </p>
				</br>
				</br>
				<p><a href="{{ path('home_page') }}"class="btn btn-default btn-lg" role="button">PLUS D'INFO</a> <a href="{{ path('home_contact') }}" class="btn btn-action btn-lg" role="button">CONTACTEZ-NOUS</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin text-center"> A l’école des « anawim » de l’Evangile </h2>
		<h4 class="text-dark text-justify">
		Je prends le temps de reconnaître ce qui m'empêche d'accueillir le don de Dieu : des peurs, des certitudes, des opinions, des comportements mortifères, de mauvaises loyautés, des dépendances sous toutes ses formes, des besoins de reconnaissance, des difficultés à pardonner, des relations qui ne m'élèvent pas... etc. Je les dépose ce matin dans la prière à Joseph et je lui demande de m'aider à devenir pauvre à son image ()...
		</h4>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4>
							<i class="glyphicon glyphicon-th">
							</i> 
							
							 Espaces de solidarités 
						</h4>
					</div>
				<div class="h-body text-center">
						<p>Toutes nos actions contribuent à sauvegarder la dignité humaine à travers ces jeunes enfants (ces Anawim) avec une présence régulière au plus près d'eux </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-book"></i>Développement de projets</h4></div>
					<div class="h-body text-center">
						<p>Être une organisation qui facilite les outils pour le développement de projets de vie dans la communauté où ou vivent des pauvres </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-bullhorn"></i>Collectes des biens  </h4></div>
					<div class="h-body text-center">
						<p>
Favoriser le développement et la croissance de la personne, en lui accordant les outils nécessaires pour atteindre le but de sa vie</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Author's support</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
<div class="container">
		<h3 class="text-center top-space">Actualités / pauvreté en république centrafricaine</h3> 
		</br>
<div class="container">

    <table class="table ">
        <thead class="thead-red p-3 mb-2 bg-primary text-white">
            <tr>
                <th>DATE   </th>
                <th>IMAGE </th>
				<th>TITRE</th>
                <th>RESUME</th>

                <th>  </th>
            </tr>
        </thead>
        <tbody>

			{% for article in articles %}
				<tr>
					<td>{{ article.createdAt ? article.createdAt|date('d/m/y') : '' }}</td>
					<td>
						{% if article.filename %}
							<img src="{{vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb') }}"  alt="card-img-top" style="width: 100%; height:auto;" >
								{% else %}
							<img src="{{'/images/articles/empty2.jpg'| imagine_filter('thumb') }}" alt="card-img-top" style="width: 90%; height:50%;" >                    
						{% endif %}
					</td>
					<td>
						{{ article.titre }}
					</td>
					<td>
						{{ article.resume }}
					</td>
					<td>
						<a href="{{ path('articles_show', {id: article.id, slug: article.slug }) }}" class="btn btn-primary btn-sm">Lire </a>
						{#  <a href="{{ path('articles_edit', {'id': article.id}) }}">Editer</a> #}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
		<div class="pagination">
			{{ knp_pagination_render(articles) }}
		</div>
</div>
</div>	<!-- /container -->

{% endblock %}
