{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class = "jumbotron">

                        {% if articles.filename %}
                        <img src="{{vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 10%; height:10%;" >
                        {% else %}
                        <img src="{{'/images/properties/empty2.jpg'| imagine_filter('thumb') }}" alt="card-img-top" style="width: 90%; height:50%;" >                    
                    {% endif %}
        </br> </br> </br> </br>
        <h3 style="text-align:left"> {{ articles.titre }} </h3>
        <tr>
            <th>Categorie:  </th>
            <td>{{ articles.categorie }}</td>
        </tr>
        </br>
        <tr>
            <th>Auteur :</th>
                <td>{{ articles.auteur }}</td>
        </tr>
        </br>
            <tr>
                <th>Date Création</th>
                {{ articles.createdAt ? articles.createdAt|date('Y-m-d H:i:s') : '' }}
            </tr>
    </div>


<!-- container -->
<div class="container">

	<!-- Article main content -->
	<article class="col-md-8 maincontent">





            <section id="commentaires">
                <button type="button" class="btn btn-primary btn-lg btn-block"> LES COMMENTAIRES  </button>
      

    
                <p class="bg-primary text-white">Ajouter votre commentaire  </p>
                    {% if app.user %}
                        {{ form_start(commentForm) }}
                        {{form_row(commentForm.auteur, {'attr':{'placeholder': "votre nom"}})}}
                        {{form_row(commentForm.content, {'attr':{'placeholder': "votre commentaire"} })}}
                        <button type="submit" class"btn btn-success"> Commentez </button>
                        {{ form_end(commentForm) }}

                    {% else%}
                        <h4> Vous ne pouvez pas commenter sans etre connecté</h4>
                        <a href="{{path('easyadmin') }}" class="btn btn-primary"> Connexion </a>
                    {% endif %}
            </section>   
	</article>
	<!-- /Article -->



    <!-- Sidebar -->
	<aside class="col-md-4 sidebar sidebar-right">
            
                <div class="card text-white bg-primary mb-3" >
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-secondary mb-3" style="max-width: 148rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-warning mb-3" style="max-width: 100rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 100rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>

	</aside>
    </div>
    </div>
	
{% endblock %}
