{% extends 'base_adm.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    {{ include('administrator/tools/_entete-admin.html.twig') }}

    <div class="container">

        <h3> Liste Abonnés </h3>
        <br><br>

    <table class="table">

        <thead>
            <tr>
                
                <th>Id</th>
                <th>Utilisateurs</th>
                <th>Email</th>
                <th>Activé</th>
                <th>Roles</th>
                <th>Connexion</th>

                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.nombre }}</td>
                <td>
                   {# <a href="{{ path('user_show', {'id': user.id}) }}">show</a>#} 
                   {# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<p align="right" >
    <a href="{{path('fos_user_registration_register')}}">
         <button type="button" class="btn btn-secondary">Creer un Utilisateurs </button>
    </a>
</p>

</div>
{% endblock %}
