{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}

        <div class = "jumbotron">
            </br>
            </br>
            </br>
            </br>
            <h3 style="text-align:left"> Team / Index </h3>
        </div>
    

    <!-- container -->
    <div class="container">
    
        <h3>Identification / {{ equipe.noms }}, {{ equipe.fonction }}</h3>
        </br>


        <!-- Article main content -->
        <article class="col-md-8 maincontent">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Noms</th>
                        <td>{{ equipe.noms }}</td>
                    </tr>
                    <tr>
                        <th>Prenoms</th>
                        <td>{{ equipe.prenoms }}</td>
                    </tr>
                    <tr>
                        <th>Surnoms</th>
                        <td>{{ equipe.surnoms }}</td>
                    </tr>
                    <tr>
                        <th>Fonction</th>
                        <td>{{ equipe.fonction }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ equipe.email }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ equipe.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>{{ equipe.region }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ equipe.ville }}</td>
                    </tr>
                    <tr>
                        <th>Pays</th>
                        <td>{{ equipe.pays }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ equipe.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>{{ equipe.website }}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <!-- /Article -->

    
    <!-- Sidebar -->
	<aside class="col-md-4 sidebar sidebar-right">
            {{ include('administrator/tools/_aside.html.twig') }}
	</aside>
           
</div>
            
	
    <a href="{{ path('equipe_administrator_index') }}" class="btn btn-primary btn-sm">Liste des Membres </a>

    <a href="{{ path('equipe_administrator_edit', {'id': equipe.id}) }}" class="btn btn-info btn-sm">edit</a>

    {{ include('administrator/equipe/_delete_form.html.twig') }}
</div>
{% endblock %}
