<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>{% block title %}Anawin {% endblock %}</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
        {% block stylesheets %} 
        <link rel="stylesheet"  href="{{ asset('assets/css/main.css') }}"> 
        <link rel="stylesheet"  href="{{ asset('assets/css/bootstrap.min.css') }}"> 
        <link rel="stylesheet"  href="{{ asset('assets/css/bootstrap-theme.css') }}"> 
        <link rel="stylesheet"  href="{{ asset('assets/css/font-awesome.min.css') }}"> 
        {% endblock %}

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{{ path('home_index') }}"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="{{ path('home_index') }}">Accueil</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Qui sommes-nous <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('page') }}">Mot de la Directrice</a></li>
							<li class="active"><a href="{{ path('page') }}">L’équipe</a></li>
							<li class="active"><a href="{{ path('contact') }}">Nous Contacter</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nous connaitre  <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('page') }}">Programmes</a></li>
							<li class="active"><a href="{{ path('page') }}">Events</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation   <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{path('articles_index')}}">Articles </a></li>
							<li><a href="{{ path('page') }}">Centrafrique</a></li>
							<li class="active"><a href="{{ path('page') }}">Pauvreté</a></li>
						</ul>
					</li>
					<li><a href="{{ path('page') }}">Galeries</a></li>
					<li><a href="{{ path('admin_home') }}" target="blank" >Admin</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
					
					{% if not app.user %}
						<li><a class="btn" href="{{ path('fos_user_security_login') }}">LOG IN / SIGN UP</a></li>
					{% else %}
						<li><a class="btn" href="{{ path('fos_user_security_logout') }}"> LOG OUT</a></li>
					{% endif %}

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
{% block body %}


</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->

{% endblock %}


{% block footer %}
	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 06 51 55 87 57<br>
								<a href="mailto:#">info@anawin-mbomou.org</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de Anawin</h3>
						<div class="widget-body">
							<p>Nous sommes une organisation qui travaille depuis 2011, avec l'objectif de générer des espaces pour instruire les enfants, les adolescents et les adultes en situation de vulnérabilité</p>
							<p>Être une organisation qui facilite les outils pour le développement de projets de vie dans la communauté où ils opèrent Mission.</p>
                            <p>Favoriser le développement et la croissance de la personne, en lui accordant les outils nécessaires pour atteindre le but de sa vie</p>
                            </div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Accueil</a> | 
								<a href="about.html">Qui sommes-nous </a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, @Anawin. Designed by <a href="mailto:ipalakot@gmail.com" >Georges Igor PALAKOT</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
	{% endblock %}

 {% block javascripts %}
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>

 {% endblock %}
</body>
</html>