{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}

        <div class = "jumbotron">
            </br>
            </br>
            </br>
            </br>
            <h3 style="text-align:left"> Team / Index </h3>
        </div>
    
    <div class="container">

    <h3> Liste des membres /  Anawin</h3>
    </br>

    <table class="table">
        <thead>
            <tr>
              
                <th>NOMS</th>
                <th>PRENOMS</th>
                <th>FONCTION</th>
                <th>EMAIL</th>
                <th>PAYS</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.noms }}</td>
                <td>{{ equipe.prenoms }}</td>
                <td>{{ equipe.fonction }}</td>
                <td>{{ equipe.email }}</td>
                <td>{{ equipe.pays }}</td>

                <td>
                    <a href="{{ path('equipe_show', {'id': equipe.id,  slug: equipe.slug }) }}" class="btn btn-primary btn-sm"> Lire </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('equipe_new') }}">Create new</a> #}
    
    </br></br></br>
    

</div>
{% endblock %}
