{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Prenoms</th>
                <th>Surnoms</th>
                <th>Fonction</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Region</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Telephone</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.id }}</td>
                <td>{{ equipe.noms }}</td>
                <td>{{ equipe.prenoms }}</td>
                <td>{{ equipe.surnoms }}</td>
                <td>{{ equipe.fonction }}</td>
                <td>{{ equipe.email }}</td>
                <td>{{ equipe.adresse }}</td>
                <td>{{ equipe.region }}</td>
                <td>{{ equipe.ville }}</td>
                <td>{{ equipe.pays }}</td>
                <td>{{ equipe.telephone }}</td>
                <td>{{ equipe.website }}</td>
                <td>
                    <a href="{{ path('equipe_show', {'id': equipe.id}) }}">show</a>
                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipe_new') }}">Create new</a>
{% endblock %}
